<% if user_signed_in? %>

<h1>Friends List</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered" >
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Twitter</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
    <% @friends.each do |friend| %>
      <% if friend.user === current_user %>
      <tr>
        <td>
          <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
        </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= button_to 'Delete', friend, method: :delete, class:"btn btn-danger btn-sm " %></td>
      </tr>
      <%end%>
    <%end%>
    </tbody>
  </table>
</div>

<%= link_to "New friend", new_friend_path, class:"btn btn-dark" %>

<% else %>
  <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Are you tired of losing your friends contacts?</h1>
        <p class="col-md-8 fs-4">
          Friends app is for you!
          <ul>
          
            <li >Create as  many friends contacts as you want.</li>
            <li >Read them whenever you want!</li>
            <li >Update them if something changed.</li>
            <li >Destroy them if they're not longer your friends.</li>
          </ul>
        </p>
        <button class="btn btn-dark btn-lg" type="button"><%= link_to 'Log In', new_user_session_path, class: 'nav-link'  %></button>
        <button class="btn btn-dark btn-lg" type="button"><%= link_to 'Sign Up ', new_user_registration_path, class: 'nav-link'  %></button>
      </div>
    </div>
  <div class="position-absolute top-50 start-50 translate-middle">
    
    <p></p>

  </div>


<% end %>
